body{
  background-color: #e3f2fd;
}

nav{
  background-color: rgb(83, 83, 141);
}

header { 
  margin-top:-60px;
  background: url("newspaper.jpg");
  background-size: cover;
  background-position: center;
  min-height: 400px;
  padding:100px;
}


 #wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}


header h1, h4{
  text-align: center;
  font-weight: bold;
  color:white;
  text-shadow: 0 0 5px #FF0000, 0 0 10px #0000FF;
}

#articles{
  background-color: #5c6bc0;
  padding:30px;
  margin-top:-30px;
  border-radius: 5px;
  margin-bottom:30px;
}

#articles p{
  padding:10px;

}

.modal{
  max-height: 100%;
}


textarea {
  height: 200px;
  font-size: 18px;
}

button a{
  color:white;
}

.row{
  margin-bottom: 0;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat{
  width:100%;
  margin:1px;
  margin-bottom: 10px;
}

#title{
  width:100%;
  background-color: palevioletred;
  padding:10px;
  border-radius: 5px;
  text-align: center;
  color:white;
}

.submit_note,.delete_scrape{
  border:1px solid black;
  padding: 5px;
  border-radius: 5px;
  margin:5px;
  cursor: pointer;
}

.submit_note{
  background-color:#26a69a;
}

.delete_note{
  background-color: #ef5350;
}

.delete_scrape{
  background-color:#ef5350;
  margin-top:10px;
}

#note-title, #note-content{
  padding:10px;
}